<div class="h-full w-full flex flex-col sm:flex-row justify-between gap-[4rem]">

  <div class="flex-1 flex flex-col gap-4">

    <div class="flex flex-col">
      <h2 class="mb-0">contactez-moi</h2>
      <div class="text-primary">parlez-moi de vos projet</div>
    </div>


    <form (submit)="onSendContactMail($event)" [formGroup]="contactFormGroup" class="flex flex-col gap-4">

      <div class="flex flex-col gap-3">
        <div class="flex flex-col gap-1">
          <label class="form-label" for="name">Nom</label>
          <input class="form-control" formControlName="name" id="name" placeholder="Votre nom" type="text"/>
        </div>

        <div class="flex flex-col gap-1">
          <label class="form-label" for="surname">Prénom</label>
          <input class="form-control" formControlName="surname" id="surname" placeholder="Votre prénom" type="text"/>
        </div>

        <div class="flex flex-col gap-1">
          <label class="form-label" for="email">Adresse e-mail</label>
          <input class="form-control" formControlName="email" id="email" placeholder="Votre adresse e-mail"
                 type="email"/>
        </div>

        <div class="flex flex-col gap-1">
          <label class="form-label" for="subject">Objet</label>
          <input class="form-control" formControlName="subject" id="subject" placeholder="Objet de votre message"
                 type="text"/>
        </div>

        <div class="flex flex-col gap-1">
          <label class="form-label" for="message">Message</label>
          <textarea class="form-control" formControlName="message" id="message" placeholder="Votre message"
                    rows="3"></textarea>
        </div>
      </div>

      <button [disabled]="contactFormGroup.invalid || contactFormGroup.disabled"
              class="btn btn-primary w-auto self-start" type="submit">
        Envoyer votre message
      </button>
    </form>

  </div>


  <div class="flex-1 flex flex-col gap-4">

    <div class="flex flex-col">
      <h2 class="mb-0">des questions ?</h2>
      <div class="text-primary">posez vos questions et je vous réponds</div>
    </div>

    <form (submit)="onSubmitQuestion($event)" class="flex flex-col gap-4">
      <div class="flex flex-col gap-1">
        <label class="form-label" for="message">Posez votre question</label>
        <input [formControl]="questionFormControl" class="form-control" placeholder="Votre question" type="text"/>
      </div>

      <button [disabled]="questionFormControl.invalid || questionFormControl.disabled"
              class="btn btn-primary w-auto self-start" type="submit">
        Envoyer votre question
      </button>
    </form>

    <div class="my-4 w-1/2 h-0.5 bg-gray-300 rounded-full"></div>

    <h5 class="text-subtitle mb-0">Les questions déjà posées</h5>

    <div class="flex flex-col gap-4">
      @for (question of questions$(); track question.id) {
        <app-sequence-item (cancelEvent)="onCancelQuestion($event)" [sequence]="question"/>
      }
    </div>


  </div>
</div>
