<div class="h-full w-full flex flex-row justify-content-between">
  <div class="flex-1"><h2>Interview</h2>
    <div class="flex flex-col gap-2 my-3">
      @for (question of questions$(); track question.id) {
        <app-sequence-item (cancelEvent)="onCancelQuestion($event)" [sequence]="question"/>
      }
    </div>

    <form (submit)="onSubmitQuestion($event)" class="flex gap-2">
      <input [formControl]="questionFormControl" class="form-control" placeholder="Pose une question" type="text"/>
      <button [disabled]="questionFormControl.invalid || questionFormControl.disabled" class="btn btn-primary"
              type="submit">Envoyer
      </button>
    </form>


  </div>
  <div class="h-full bg-gray-200 w-px mx-3"></div>
  <div class="flex-1">contact</div>
</div>
